/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the header */
.navbarSection {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

/* Logo styling */
.logoDiv {
    flex: 1;
}

.logo h1 {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: #333;
}

.logo h1 .icon {
    margin-right: 0.5rem;
    font-size: 2rem;
    color: #1e90ff;
}

/* Navigation list */
.navLists {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.navItem .navLink {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s;
}

.navItem .navLink:hover {
    color: #1e90ff;
}

/* Booking button */
.btn{
    background-color: transparent;
    border: 3px solid #00d7c3;
    border-radius: 50px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #f1f8f7;
    &:hover {
        background-color: #040c13;
    }
}
// .btn a {
//     text-decoration: none;
//     font-family: 600;
//     color: #fff;
//     // background-color: #5c3636;
//     // padding: 0.5rem 1.5rem;
//     border-radius: 2px;
//     transition: background-color 0.3s;
// }



/* Close navbar (for mobile or small screens) */
.closeNavBar {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    z-index: 2000;
}

/* Toggle button */
.toogleNavBar {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    z-index: 2000;
}

/* Responsive design for mobile */
@media screen and (max-width: 768px) {
    .navLists {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: right 0.3s ease;
        z-index: 999;
    }

    .navBar.active .navLists {
        right: 0;
    }

    .navItem {
        margin: 1rem 0;
    }

    .btn {
        margin-top: 1rem;
    }

    .closeNavBar {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 1000;
    }

    .toogleNavBar {
        display: block;
        z-index: 1001;
        right: 1.5rem;
        top: 1.5rem;
    }
}
